.OptionsHolder{
  height: 30%;
  width: 50vh;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 2;

  .Title{
    font-size: 2vw;
  }

  .OptionButtonHolder{

    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    overflow: visible;

    .Option{
      cursor: default;
      font-size: 1.5vw;
      height: 2vw;
      background-color: #97AFB9;
      color: white;
      padding: 5px 15px;
      border-radius: 15px;
      transition: all .5s;
    }
  
    .Option.Selectable{
      cursor: pointer;
      background-color: #6BAC7A;
    }
  
    .Option.Selectable:hover{
      box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    }

  }

}

.OptionsHolder.Center{
  right: 50%;
  transform: translate(50%, -50%);
  transition: all 2s, opacity 1s;
  opacity: 1;
}

.OptionsHolder.Left{
  right: 100%;
  transform: translate(100%, -50%);
  transition: all 2s, opacity 1s;
  opacity: 0;
}

