.OptionsHolder{
  height: 50%;
  width: 50vh;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 2;
  transition: all 2s, opacity 1s;

  .Title{
    font-size: 2vw;
  }

  .Break{
    width: 80%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: relative;
    overflow: visible;
    .MiddleText{
      position: absolute;
      right: 50%;
      transform: translate(50%,-50%);
      background-color: white;
      padding-left: 2%;
      padding-right: 2%;
    }
    .Line{
      width: 100%;
      border: solid .5px #ced4da;
    }
  }

  .FieldHolder{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: visible;
    align-items: center;

    .FormField{
      width: 100%;
      padding: 5px 10px;
      margin-top: 2px;
      line-height: 1.5;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 10px;
      color: #212529;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: flex;
      align-items: center;

    }

    .Option{
      cursor: default;
      font-size: 1.5vw;
      height: 2vw;
      background-color: #97AFB9;
      color: white;
      padding: 5px 15px;
      border-radius: 15px;
      transition: all .5s;
      width: max-content;
    }
  
    .Option.Selectable{
      cursor: pointer;
      background-color: #6BAC7A;
    }
  
    .Option.Selectable:hover{
      box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    }

  }

  .OptionButtonHolder{

    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    overflow: visible;

    .Option{
      cursor: default;
      font-size: 1.5vw;
      height: 2vw;
      background-color: #97AFB9;
      color: white;
      padding: 5px 15px;
      border-radius: 15px;
      transition: all .5s;
    }
  
    .Option.Selectable{
      cursor: pointer;
      background-color: #6BAC7A;
    }
  
    .Option.Selectable:hover{
      box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    }

  }

}

.OptionsHolder.Center{
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 1;
}

.OptionsHolder.Left{
  right: 100%;
  transform: translate(100%, -50%);
  opacity: 0;
}

