

.MainHolder{

  width: 100%;
  height: 100%;
  position: relative;

}


/* #5EA7C2 Dust Palette */
.background{
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(43deg, #344a53, #97afb9, #b691b9);
  background-size: 600% 600%;

  -webkit-animation: BackgroundGradient 30s ease infinite;
  -moz-animation: BackgroundGradient 30s ease infinite;
  animation: BackgroundGradient 30s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes BackgroundGradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes BackgroundGradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}