
.MainHolder{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .CenterHolder{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: visible;

    .TypeSelection{
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      overflow: visible;

      .TypeButton{
        cursor: pointer;
        height: 80%;
        width: 30%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2vw;
        box-shadow: none;
        transition: all .5s;
        border-radius: 15px;
        box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
      }

      .TypeButton.Selected{
        cursor: default;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }

    .TextInput{
      width: 100%;
      height: 70%;
      overflow: hidden;

      .Instructions{
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1.25vw;
        color: whitesmoke;
      }

      .TextArea{
        width: 100%;
        height: 90%;
        border-radius: 15px;
        resize: none;
        padding: 2%;
        font-size: 1.25vw;
        box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
      }

      .TextArea:focus{
        outline:none;
    }
    }

    .Button{
      width: 100%;
      height: 10%;
      cursor: default;
      background-color: rgb(112, 112, 112);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2vw;
      box-shadow: none;
      border-radius: 15px;
      transition: all .5s;
      overflow: visible;
    }

    .Button.Selectable{
      cursor: pointer;
      background-color: rgb(121, 147, 115);
    }

    .Button.Selectable:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


  }

}


/* #5EA7C2 Dust Palette */
.background{
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(43deg, #344a53, #97afb9, #b691b9);
  background-size: 600% 600%;

  -webkit-animation: BackgroundGradient 30s ease infinite;
  -moz-animation: BackgroundGradient 30s ease infinite;
  animation: BackgroundGradient 30s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes BackgroundGradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes BackgroundGradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}